.spinner {
    margin-top: 100px;
    text-align: center;
}

.title {
    margin-top: 25px;
    text-align: center;
}

.content {
    text-align: center;
}

.radio {
    padding: 4px 0;
    text-align: left;
}