.spinner {
    margin-top: 50px;
    text-align: center;
}

.title {
    margin-top: 25px;
    text-align: center;
}

.content {
    margin-top: 1rem;
    text-align: center;
}

.input {
    width: 100px;
}

.select {
    width: 80px;
}

.error {
    color: red;
    margin-top: 40px;
    text-align: center;
}